body{
    text-align: right;
    background-color: blue;
    font-size: 110%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
div {
    height: 60px;
    width: 500px;
    background-color: white;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
   
}
div:hover {
    height: 60px;
    width: 500px;
    background-color: purple;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 30px 20px 10px purple;
}

#teclapreta1 {
    height: 40px;
    width: 250px;
    background-color: black;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    position: absolute;
    margin-top: 40px;
    color: white;
}
#teclapreta1:hover {
    height: 40px;
    width: 250px;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    margin-top: 40px;
    background-color: brown;
    box-shadow: 30px 20px 10px brown;
}

#teclapreta2 {
    height: 40px;
    width: 250px;
    background-color: black;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    border-color: black;
    margin-top: 100px;
    color: white;
}
#teclapreta2:hover {
    height: 40px;
    width: 250px;
    background-color: brown;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    margin-top: 100px;
    box-shadow: 30px 20px 10px brown;
}

