body{
    background-color: blue
}
div {
    height: 60px;
    width: 500px;
    background-color: white;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    
}

#teclapreta1 {
    height: 40px;
    width: 250px;
    background-color: black;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    margin-top: 40px;
}

#teclapreta2 {
    height: 40px;
    width: 250px;
    background-color: black;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    margin-top: 100px;
}